<p-dialog header="Adicionar Produto" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
  <form #form="ngForm" class="form" (ngSubmit)="form.form.valid && salvar()" novalidate >

    <div class="p-float-label">
      <input [(ngModel)]="name" class="form-control" name="name" required type="text" pInputText>
      <label for="float-input">Nome (obrigatório)</label>
    </div>

    <div class="p-float-label p-inputgroup" style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
      <p-autoComplete [(ngModel)]="category" name="category" class="form-control"
      emptyMessage="Uma nova categoria será adicionada." [showEmptyMessage]="true" [suggestions]="shopCategoriesFiltered" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true" [minLength]="1"></p-autoComplete>
      <label for="float-input">Categoria</label>
      <!-- <button pButton pRipple *ngIf="newCategoryFlag"  class="p-button-success" icon="pi pi-plus" style="width: 2.9rem;"></button> -->
    </div>

    <div class="p-float-label">
      <textarea inputId="textarea" class="form-control"
        [(ngModel)]="info" rows="3" name="info" maxlength="500" style="resize: none;" cols="30" pInputTextarea></textarea>
      <label for="textarea">Descrição</label>
    </div>

    <div class="p-float-label">
      <input [(ngModel)]="price" name="price" class="form-control"
        required type="number" pInputText>
      <label for="textarea">Preço (obrigatório)</label>
    </div>

    <div style="margin-top: 1rem;" class="p-label">
      <button pButton pRipple type="button" label="Adicionar Imagem" (click)="compressFile()"></button> <br/>
      <img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" style="width: 18rem; padding: 1rem;" alt="">
    </div>

    <button pButton pRipple [disabled]="!form.form.valid" label="Salvar" type="submit"  class="p-button-success" style="width: 100%; margin-top: 1rem;"></button>
  </form>
</p-dialog>
