:host ::ng-deep
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  cursor: default !important;
  pointer-events: none;
}

:host ::ng-deep
.p-toolbar .p-tabview .p-tabview-nav li {
  width: 100%;
}

:host ::ng-deep
.p-tabview-ink-bar {
  width: 100% !important;
}

:host ::ng-deep
.p-tabview-panels {
  background-color: unset;
  padding-bottom: 0;
  width: 80%;
  margin: 0 auto;
}

:host ::ng-deep
.p-dataview {
  background-color: white;
  border-radius: 0.5rem;
}

:host ::ng-deep
.p-dataview .p-dataview-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.action {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 2rem;
  height: 8rem;
}

.add-button{
  height: 2.7rem;
  margin-bottom: 1.5rem;
}

:host ::ng-deep
.p-toast-message-custom {
    background-color: #E1CFE7;
    border: solid #8A427A;
    border-width: 0 0 0 6px;
    color: #2c1e30;
}

:host ::ng-deep
.p-toast-message-custom .p-toast-icon-close {
  color: #2c1e30;
}

@media screen and (max-width: 800px) {
  .action{
    flex-direction: column;
  }

  .action .add-button{
    width: 100%;
  }
  :host ::ng-deep
  .p-toast {
    width: 90%;
  }

  :host ::ng-deep
  .p-tabview-panels {
    width: 100%;
  }
}

