.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  margin: 0 auto;
}

.p-float-label {
  margin-top: 1rem;
}

:host ::ng-deep {
  .form .p-float-label, .form .p-float-label .p-inputtext {
    width: 100%;
  }
}

:host ::ng-deep
.p-dialog {
  width: 500px;
}

@media screen and (max-width: 800px) {
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  :host ::ng-deep
  .p-dialog {
    width: 90%;
  }
}
