<p-dialog header="Detalhes do Produto" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <img [src]="product ? product.avatar : '../../../assets/default.png' " style="margin: 0 auto; width: 50%; display: block;" />
    <div class="content">
      <div class="p-card" >
        <div style="padding: 1rem;">
          <h3>{{ product && product.name }}</h3>
          <p>{{ product && product.info && product.info }}</p>
          <div class="price">{{ product && product.price | currency:'BRL':true:'1.2-2'}}</div>
        </div>
      </div>

    </div>
</p-dialog>
