<p-toolbar>
  <div class="p-toolbar-group-left">
      <button pButton pRipple aria-label="home" routerLink="/" class="p-button-text" label="Catalogue.me" ></button>
  </div>

  <!-- <div class="p-toolbar-group-right">
    <button pButton pRipple class="p-button-rounded p-button-secondary" class="pi pi-heart" ></button>
    <button pButton pRipple class="p-button-rounded" class="pi pi-shopping-cart"></button>
  </div> -->
  <div class="p-toolbar-group-right">
    <button pButton pRipple class="p-button-text" [routerLink]="['/login']" style="margin-right: 1rem;" label="Entrar"></button>
    <button pButton pRipple class="p-button-primary" [routerLink]="['/cadastro']" label="Cadastre-se"></button>
  </div>
</p-toolbar>
<p-panel class="content">
  <div class="page1">
    <div class="page1-text">
      <h1 class="title">Crie sua loja online de graça.</h1>
      <p>Modernize sua loja virtual com o nosso catálogo, não precisa instalar nada! Faça o cadastro gratuito e cadastre seus produtos.</p>
      <button pButton pRipple [routerLink]="['/cadastro']" icon="pi pi-arrow-right" label="Faça seu cadastro" iconPos="right"></button>
    </div>
    <div class="page1-img">
      <img src="../../assets/capa.jpeg" alt="capa">
    </div>
  </div>

  <div class="page2">

    <h1>Totalmente integrado com o Whatsapp</h1>

    <p-card>
      <ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Sem mensagens desnecessárias
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          O cliente é enviado diretamente ao seu Whatsapp
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Mensagem pronta para o cliente usar
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Link do produto selecionado incluso na mensagem
        </ul>
      </ul>
    </p-card>
    <p-card>
      <ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Nenhum dado é salvo durante o processo de compra
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Nenhuma taxa é cobrada sobre suas vendas
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          A compra é finalizada através do Whatsapp
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Número de vendas ilimitadas inclusive no plano grátis
        </ul>
      </ul>
    </p-card>
  </div>
  <div class="page3">

    <h1>Toda a sua loja na palma da sua mão</h1>

    <p-card>
      <ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Traga seus clientes para a sua loja virtual
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Promova a sua loja nas suas redes sociais compartilhando o seu link exclusivo
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Reúna os clientes de todos os lugares em uma loja única, facilitando a administração
        </ul>
        <ul>
          <span class="pi pi-check-circle"> </span>
          Compartilhe sua loja virtual com seus clientes e os deixe por dentro dos seus produtos e serviços
        </ul>
      </ul>
    </p-card>
  </div>
  <div class="page4">
    <h1>Crie sua loja online agora mesmo</h1>
    <p>O que está esperando para se cadastrar? É 100% grátis!</p>
    <button pButton pRipple [routerLink]="['/cadastro']" label="Faça seu cadastro"></button>
  </div>
  <footer>
    <div>
      <h3>Conexões</h3>
      <ul>
        <li>
          <span class="pi pi-external-link"> </span>
          Github
        </li>
        <li>
          <span class="pi pi-external-link"> </span>
          LinkedIn
        </li>
      </ul>
    </div>
    <div>
      <h3>Contato</h3>
      <ul>
        <li>
          <span class="pi pi-phone"> </span>
          (84) 998594171
        </li>
        <li>
          <span class="pi pi-phone"> </span>
          Instagram
        </li>
      </ul>
    </div>
  </footer>
</p-panel>


