:host ::ng-deep .p-toolbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 4px 1px lightgray;
  border-radius: 0;
}

:host ::ng-deep .p-panel-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: var(--indigo-50);
}

.page1 {
  display: flex;
  flex-direction: row;
  height: 85vh;
  background-color: #00b2e6;
  overflow: hidden;
  justify-content: space-evenly;
}

.page1-img {
  display: flex;
}

.page1-img img {
  width: 50vw;
  object-fit: contain;
}

.page1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00b2e6;
  color: white;
  width: 30%;
}

.page1-text button {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  font-size: larger;
}

.page2 {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 2rem;
}

.page2 div {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-bottom: 2rem;
}

.page2 span {
  color: green;
}

.page2 ul {
  padding: 0.5rem;
}

.page2 p-card {
  height: 100%;
  width: 25%;
}

:host ::ng-deep .p-card-body {
  height: 50vh;
}

footer {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00b2e6;
  color: white;
}

footer ul {
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 800px) {
  :host ::ng-deep
    .p-panel-content {
      row-gap: 5rem;
  }

  .page1 {
    height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 5rem;
    padding: 1rem;
    padding-top: 4rem;
  }

  .page1-img img {
    width: 100%;
  }

  .page1-text {
    width: 100%;
    font-size: small;
  }

  .page2 {
    font-size: small;
    margin: 1rem;
  }

  .page2 div {
    flex-direction: column;
    height: unset;
    row-gap: 1rem;
    width: 100%;
  }

  .page2 p-card {
    height: fit-content;
    width: 100%;
  }

  :host ::ng-deep
  .page2 .p-card-body {
    height: unset;
  }

  .page4 {
    padding: 1rem;
  }
}
