<p-toolbar>
  <div class="p-toolbar-group-left">
      <button pButton pRipple aria-label="home" routerLink="/" class="p-button-text" label="Catalogue.me" ></button>
  </div>

  <!-- <div class="p-toolbar-group-right">
    <button pButton pRipple class="p-button-rounded p-button-secondary" class="pi pi-heart" ></button>
    <button pButton pRipple class="p-button-rounded" class="pi pi-shopping-cart"></button>
  </div> -->
  <div class="p-toolbar-group-right">
    <button pButton pRipple class="p-button-text" [routerLink]="['/login']" style="margin-right: 1rem;" label="Entrar"></button>
    <button pButton pRipple class="p-button-primary" [routerLink]="['/cadastro']" label="Cadastre-se"></button>
  </div>
</p-toolbar>
<div class="form p-card">
  <h3>Entrar na sua loja</h3>

  <span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="user"/>
    <label for="float-input">Usuario</label>
  </span>

  <span class="p-float-label">
    <p-password [(ngModel)]="pass" [feedback]="false" [toggleMask]="true" ></p-password>
    <label for="float-input">Senha</label>
  </span>
  <button pButton pRipple label="Entrar" (click)="login()" class="p-button-success"></button>
</div>

<p-toast key="main" position="bottom-right"></p-toast>
