<p-dialog header="Editar Produto" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
  <form #form="ngForm" class="form" (ngSubmit)="form.form.valid && salvar()" novalidate >

    <div class="p-float-label">
      <input [(ngModel)]="name" class="form-control" name="name" required type="text" pInputText>
      <label for="float-input">Nome (obrigatório)</label>
    </div>

    <div class="p-float-label">
      <textarea inputId="textarea" class="form-control"
        [(ngModel)]="info" rows="3" name="info" maxlength="500" style="resize: none;" cols="30" pInputTextarea></textarea>
      <label for="textarea">Descrição</label>
    </div>

    <div class="p-float-label">
      <input [(ngModel)]="price" name="price" class="form-control"
        required type="number" pInputText>
      <label for="textarea">Preço (obrigatório)</label>
    </div>

    <div style="margin-top: 1rem;" class="p-label">
      <button *ngIf="!avatar" pButton pRipple type="button" label="Adicionar Imagem" (click)="compressFile()"></button> <br/>
      <button *ngIf="avatar" pButton pRipple type="button" label="Trocar Imagem" (click)="compressFile()"></button> <br/>
      <img *ngIf="avatar" [src]="avatar" style="width: 18rem; padding: 1rem;" alt="">
    </div>

    <button pButton pRipple [disabled]="!form.form.valid" label="Salvar" type="submit"  class="p-button-success" style="width: 100%; margin-top: 1rem;"></button>
  </form>
</p-dialog>
