.p-float-label {
  margin-top: 1rem;
}

:host ::ng-deep
.p-inputtext, .p-inputtext {
  width: 100%;
}

:host ::ng-deep
  .p-dialog {
    width: 500px;
  }

:host ::ng-deep
.p-autocomplete {
  width: 100%;
}

p-autocomplete {
  width: 100%;
}

p-galleriathumbnails {
  width: 100%;
}

.img-item {
  width: 8rem;
  height: 8rem;

}

:host ::ng-deep
.p-galleria-thumbnail-container {
  width: 100%;
  padding: 0;
}

:host ::ng-deep .p-galleria-thumbnail-next, :host ::ng-deep .p-galleria-thumbnail-prev {
  margin: 0 !important;
}

/* :host ::ng-deep .p-inputgroup input:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */

:host ::ng-deep
.p-galleria-thumbnail-item-content {
  width: 8rem;
}

.thumb {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
@media screen and (max-width: 800px) {
  :host ::ng-deep
  .p-dialog {
    width: 90%;
  }

  :host ::ng-deep
  .p-galleria-thumbnail-container {
    width: 18rem;
  }
}
